main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1em;
}

main > h2 {
    grid-column: span 4;
    text-align: center;
}

@media (max-width: 799px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}